body{
    display: block;
    justify-content: center;
    text-align: center;
    background-image: url("https://img.freepik.com/premium-vector/robot-chatbot-head-icon-sign-made-with-binary-code-chatbot-assistant-application-ai-concept-digital-binary-data-streaming-digital-code-matrix-background-with-digits-1-0-vector-illustration_127544-1571.jpg?w=1380");
    height: 100vh;
}
.title{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}
.btn{
    font-size: 50px;
    margin-top: 250px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: red;
    
}
.btn2{
    margin-top: 20px;
    padding: 15px 15px;
}
button{
    margin-top: 30px;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    font-size: 14px;
    font-weight: 700;
}